@font-face {
    font-family: 'Spotify Circular Text';
    font-weight: 700;
    src: local('Spotify Circular Text'), url('fonts/CircularSpotifyText-Bold.otf');
}
@font-face {
    font-family: 'Spotify Circular Text';
    font-style: italic;
    font-weight: 700;
    src: local('Spotify Circular Text'), url('fonts/CircularSpotifyText-BoldItalic.otf');
}
@font-face {
    font-family: 'Estilo Pro';
    font-weight: 700;
    src: url('fonts/EstiloPro-Bold.otf');
}